<section id="home-header">
    <nav>
        <div class="container">
            <div class="logo">
                <h4>Bit<span class="highlight"><%= link_to "Flix", root_path %></span>
                </h4>
            </div>

            <div class="center">
                <ul>
                    <%# <li class="selected">Home</li> %>
                    <span class="left"><%= link_to "Home", root_path, class:"link selected index" %> </span>
                   <span class="middle"> <li class="not-selected">New Releases</li> </span>
                    <%# <%= link_to "New Releases", "", class:"not-selected" %> 
                    <%# <span class="right"> <%= link_to "Most Popular", home_popular_path, class:"not-selected" %> </span> 
                    <span> <li class="not-selected rated">Best Drama</li></span>
                </ul>
            </div>

            <div class="right">
                <form id="form">
                    <input type="text" id="search" class="search" placeholder="search">
                </form>
            </div>
        
        </div>
    </nav>

</section>